// app global css in SCSS form

.fullcover {
  width: 100%;
  height: 100%;
}

.text-link {
  text-decoration: underline;
  color: blue;
}

.helper-list-container {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  height: 40vh;

  .upah-container {
    margin-bottom: 0.5rem;
  }
}

.login {
  .bg {
    z-index: -1;
    background-color: black;
    width: 100%;
    height: 100%;

    .section {
      width: 100%;
      height: 50%;
    }

    .section::before {
      content: "";
      display: block;
      position: absolute;
      border-radius: 40% 200%;
      width: 60%;
      height: 50%;
      transform: translate(-25%, 40%);
      background-color: $secondary;
    }

    .section::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 40% 200%;
      width: 60%;
      height: 50%;
      transform: translate(85%, -46%);
      background-color: $primary;
    }
  }
}

.register {
  .bg {
    z-index: -1;
    background-color: black;
    width: 100%;
    height: 100%;

    .section {
      width: 100%;
      height: 50%;
    }

    .section::before {
      content: "";
      display: block;
      position: absolute;
      border-radius: 200% 40%;
      width: 60%;
      height: 30%;
      transform: translate(-25%, -46%);
      background-color: $primary;
    }

    .section::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 200% 40%;
      width: 60%;
      height: 40%;
      transform: translate(85%, 70%);
      background-color: $secondary;
    }
  }
}

.helper-page {
  .helper-header {
    position: absolute;
    background-color: $primary;
    content: "";
    height: 16vh;
    width: 100vw;
    border-radius: 0 0 30px 30px;
  }

  .header-content {
    z-index: 99999;
    background-color: transparent;
    height: 16vh;
    padding-top: 0.5em;

    .role-button {
      border-radius: 30px 0 0 30px;

      .role-text {
        text-shadow: 2px 2px 4px #9e9a9a;
        color: white;
      }

      .arrow-text {
        text-shadow: 1px 1px 4px #adabab;
        color: white;
      }
    }
  }

  .help-card {
    background-color: #ede2ff;
    color: #6a6a6a;
    border-radius: 13px 13px 13px 13px;
  }
}

.client-page {
  .client-header {
    position: absolute;
    background-color: $secondary;
    content: "";
    height: 16vh;
    width: 100vw;
    border-radius: 0 0 30px 30px;
  }

  .header-content {
    z-index: 99999;
    background-color: transparent;
    height: 16vh;
    padding-top: 0.5em;

    .role-button {
      border-radius: 30px 0 0 30px;

      .role-text {
        text-shadow: 2px 2px 4px #9e9a9a;
        color: white;
      }

      .arrow-text {
        text-shadow: 1px 1px 4px #adabab;
        color: white;
      }
      .darker-text {
        color: #464646;
      }
    }
  }
}
.client-card {
  background-color: #ffec9e;
  color: #6a6a6a;
  border-radius: 13px 13px 13px 13px;
}

.role-page {
  height: 100vh;

  .role-card {
    width: 100vw;
    border-radius: 30px 30px 0 0;
  }
}
.login-card {
  width: 75%;
  border-radius: 40px;
  padding: 1.2em;
}

.image-holder {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 50%;
}

.image-holder img {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 500px;
}

.upah-card {
  border-color: #c4c4c4;

  .price-text {
    color: #471994;
  }

  .star-text {
    color: #471994;
  }
}

.hidethis {
  color: $primary;
}

.detailsprofile-page {
  padding: 3em 2.5em 1.5em 2.5em;

  .detailsprofile-card {
    border-radius: 50px 50px 50px 50px;
  }

  .edit-button {
    position: absolute;
    color: white;
    right: 0;
    top: 0;
    margin-top: 0.5rem;
    margin-right: 0.5rem;

    .pencil {
      background-color: $primary;
    }

    .square {
      height: 1.5rem;
      width: 1.5rem;
      border: 3px solid white;
      position: absolute;
      left: -0.5rem;
      top: 0.5rem;
    }
  }
}

.editprofile-page {
  display: flex !important;
  flex-direction: column;

  .save-button {
    position: absolute;
    color: white;
    right: 0;
    top: 0;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }

  .cancel-button {
    position: absolute;
    color: white;
    left: 0;
    top: 0;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }

  .editprofile-body {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    padding: 1rem 3rem;

    .scrollarea {
      flex: 1 1;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .input {
          width: 100%;
          margin-bottom: 0.5rem;

          .text {
            font-size: 1rem;
            margin-bottom: 0.3rem;
          }

          .scrollarea {
            width: 100%;
            height: 7.5rem;
          }

          .add-photo {
            display: flex;
            flex-wrap: nowrap;
            padding-top: 1rem;

            .highlight-photo-container {
              position: relative;
            }

            .delete-photo-button {
              color: rgb(233, 71, 111);
              position: absolute;
              right: 0.2rem;
              top: -1rem;
            }

            .highlight-photo {
              height: 6rem;
              width: 6rem;
              border-radius: 15px;
              margin-right: 0.5rem;
            }

            .add-photo-button {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 1.5rem;
              color: rgb(204, 204, 204);
              border-radius: 10px;
              border: 2px solid rgb(204, 204, 204);
              background-color: rgb(247, 247, 247);
            }
          }
        }

        .profilepicture {
          display: block;

          .change-picture {
            display: flex;
            flex-direction: row-reverse;
            .camera {
              color: white;
              top: -7vw;
              right: 1vw;
              position: relative;
              background-color: $primary;
              padding: 2vw;
              border-radius: 50px;
            }
          }
        }
      }
    }
  }
}

.helper-details-page {
  padding: 0 2em 0 2em;

  .helper-details-body {
    margin-top: 1.5em;
  }
}

.activity-card {
  border-color: #c4c4c4;

  .viewprofile-text {
    color: #ff8a00;
  }

  .price-text {
    color: #471994;
  }

  .purplestar-text {
    color: #471994;
  }

  .yellowstar-text {
    color: #ff8a00;
  }

  .accept-text {
    color: #00b903;
  }

  .reject-text {
    color: #d20404;
  }
}

.detailsprofile-card {
  border-radius: 50px 50px 50px 50px;
}
