// app global css in SCSS form
.login {
  .bg {
    z-index: -1;
    background-color: black;
    width: 100%;
    height: 100%;

    .section {
      width: 100%;
      height: 50%;
    }

    .section::before {
      content: "";
      display: block;
      position: absolute;
      border-radius: 40% 200%;
      width: 60%;
      height: 50%;
      transform: translate(-25%, 40%);
      background-color: $secondary;
    }

    .section::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 40% 200%;
      width: 60%;
      height: 50%;
      transform: translate(85%, -46%);
      background-color: $primary;
    }
  }
}

.register {
  .bg {
    z-index: -1;
    background-color: black;
    width: 100%;
    height: 100%;

    .section {
      width: 100%;
      height: 50%;
    }

    .section::before {
      content: "";
      display: block;
      position: absolute;
      border-radius: 200% 40%;
      width: 60%;
      height: 30%;
      transform: translate(-25%, -46%);
      background-color: $primary;
    }

    .section::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 200% 40%;
      width: 60%;
      height: 40%;
      transform: translate(85%, 70%);
      background-color: $secondary;
    }
  }
}

.helper-page {
  .helper-header {
    position: absolute;
    background-color: $primary;
    content: "";
    height: 16vh;
    width: 100vw;
    border-radius: 0 0 30px 30px;
  }

  .header-content {
    z-index: 99999;
    background-color: transparent;
    height: 16vh;
    padding-top: 0.5em;

    .role-button {
      border-radius: 30px 0 0 30px;

      .role-text {
        text-shadow: 2px 2px 4px #9e9a9a;
        color: white;
      }

      .arrow-text {
        text-shadow: 1px 1px 4px #adabab;
        color: white;
      }
    }
  }

  .help-card {
    background-color: #ede2ff;
    color: #6a6a6a;
    border-radius: 13px 13px 13px 13px;
  }
}

.client-page {
  .client-header {
    position: absolute;
    background-color: $secondary;
    content: "";
    height: 16vh;
    width: 100vw;
    border-radius: 0 0 30px 30px;
  }

  .header-content {
    z-index: 99999;
    background-color: transparent;
    height: 16vh;
    padding-top: 0.5em;

    .role-button {
      border-radius: 30px 0 0 30px;

      .role-text {
        text-shadow: 2px 2px 4px #9e9a9a;
        color: white;
      }

      .arrow-text {
        text-shadow: 1px 1px 4px #adabab;
        color: white;
      }
      .darker-text {
        color: #464646;
      }
    }
  }
}
.client-card {
  background-color: #ffec9e;
  color: #6a6a6a;
  border-radius: 13px 13px 13px 13px;
}

.role-page {
  height: 100vh;

  .role-card {
    width: 100vw;
    border-radius: 30px 30px 0 0;
  }
}
.login-card {
  width: 75%;
  border-radius: 40px;
  padding: 1.2em;
}

.image-holder {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 50%;
}

.image-holder img {
  display: block;
  height: auto;
  width: 100%;
  border-radius: 500px;
}

.upah-card {
  border-color: #c4c4c4;

  .price-text {
    color: #471994;
  }

  .star-text {
    color: #471994;
  }
}

.detailsprofile-page {
  padding: 3em 2.5em 1.5em 2.5em;

  .detailsprofile-card {
    border-radius: 50px 50px 50px 50px;
  }
}

.helper-details-page {
  padding: 0 2em 0 2em;

  .helper-details-body {
    margin-top: 1.5em;
  }
}
